body{
    color: white;
    padding: 4%;
}
.video-background video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    background-color: rgb(75, 75, 75);
}
.result-page{
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 30px;
}
.result-h1{
    font-size: 40px;
    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 2px 0 5px;
}
.expert-match{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
    font-size: 17px;
}
.expert-data{
    color: black;
}
.expert-skills, .expert-score, .expert-expl{
    background-color: white;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.result-h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: rgb(0, 0, 0) 2px 0 5px;
}
#findConnectionBtn, #requestConnectionBtn{
    padding: 10px 15px;
    border: none;
    margin-right: 20px;
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(109,0,159,1) 50%);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
}
/* .resources{
    width: 100%;
} */
.resources{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
    font-size: 17px;
    width: 100%;
    color: black;
}
.resources h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    text-shadow: rgb(0, 0, 0) 2px 0 5px;
    color: white;
}
.select-resource{
    font-size: 17px;
    margin-bottom: 15px;
}
#resource-type{
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}
.patent{
    background-color: white;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    color: black;
}
.patent-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.patent-header a, .patent-data-mid a{
    color: rgb(132, 0, 255);
    cursor: pointer;
    text-decoration: underline;
}
.result-h3{
    font-size: 20px;
}
.patent-data{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5px 0px;
}
.patent-data-mid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#connectionResult{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
}
.custom-gradient{
    background: rgb(109,0,159);
    background: radial-gradient(circle, rgba(109,0,159,1) 32%, rgba(9,9,121,1) 100%);
}
#connectionSearch{
    background-color: white;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px 0px;
}
#connectionSearch input{
    background-color: rgb(239, 239, 239);
    padding: 7px 12px;
    border: none;
    border-radius: 10px;
}
#connectionSearch button{
    padding: 10px 15px;
    border: none;
    margin-left: 20px;
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(109,0,159,1) 50%);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px; 
}
#requestModal{
    position: fixed;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(20px);
    top: 0;
    left: 0;
}
.requestModalContent{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.requestConnection{
    width: 400px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    padding: 40px;
}
.requestConnection h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.requestConnection input, .requestConnection textarea{
    background-color: rgb(239, 239, 239);
    padding: 7px 12px;
    border: 1px solid black;
    border-radius: 10px;
}
.request-btns{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.request-btns button{
    padding: 10px 15px;
    border: none;
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(109,0,159,1) 50%);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px; 
}